.unslider {
	overflow:auto;
	margin:0;
	padding:0;
}

.unslider-wrap {
	position:relative;
}

.unslider-wrap.unslider-carousel>li {
	float:left;
}

.unslider-vertical>ul {
	height:100%;
}

.unslider-vertical li {
	float:none;
	width:100%
}

.unslider-fade {
	position:relative;
}

.unslider-fade .unslider-wrap li {
	position:absolute;
	left:0;
	top:0;
	right:0;
	z-index:8;
}

.unslider-fade .unslider-wrap li.unslider-active {
	z-index:10;
}

.unslider li,.unslider ol,.unslider ul { 
	list-style:none;
	margin:0;
	padding:0;
	border:none;
}

.unslider-arrow {
	display:none;
	position:absolute;
	left:20px;
	z-index:2;
	cursor:pointer;
}

.unslider-arrow.next {display:none;
	left:auto;
	right:20px;
}

.jer-slider-image {
	width: 100%;
}

#jer-slider-div {
	height: 100%;
}

.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}