/* Section 5 Lecture 11 starts the css architecture stuff */

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

* {
	box-sizing: border-box;
}

.green {
    min-height: 40px;
    background-color: #659D32;
    width: 100%;
}

.contact-text-L {
    color: #ffffff;
    padding: 20px 0px 20px 10px;
    font-size: 14px;
    text-align: center;
}

.contact-text-M {
    color: #ffffff;
    padding: 20px 0px 20px 0px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}

.contact-text-R {
    color: #ffffff;
    padding: 20px 0px 20px 30px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}

.facebook-blue {
    color: blue;
    vertical-align: middle;
}

.ph-number {
    color: #493918;
    font-size: 26px;
    font-weight: bold;
    font-family: Oxygen;
    vertical-align: middle;
}

@media (max-width: 1200px) {

    .contact-text-L {
        padding: 0px;
    }

    .contact-text-M {
        padding: 0px;
    }

    .contact-text-R {
        padding: 0px;
    }
}

.yellow {
    background-color: rgb(253, 232, 104);
    width: 100%;
    min-height: 150px;
}

.allergy-institute-image {
    margin: 10px 10px 0px 95px;
    float: left;
    width: 100px;
    height: 100px;
}

.header-title {
    color: #000;
    font-family: Merriweather;
    font-style: italic;
    font-size: 30px;
    padding: 20px 0 0 0;
}

.header-slogan {
    color: #000;
    font-family: Merriweather;
    font-style: italic;
    font-size: 22px;
}

.navbar-default {
    background-color: rgb(253, 232, 104);
    border-color: rgb(253, 232, 104);
}

.jer-nav {
    padding: 20px 40px 0 0;
    margin: 0 auto;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
}

.jer-nav>li {
    display:inline-block;
    float: none;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
}

.jer-active {
    border: silver solid 1px;
    background-color: rgb(253, 232, 104);
}

@media (max-width: 1200px) {

    .logo-div {
        width: 50%;
        margin: 0 auto;
    }

    .allergy-institute-image {
        margin: 10px 10px 10px 0px;
        width: 130px;
        height: 130px;
    }

    .header-title {
        padding: 40px 0 0 0;
    }

    #jer-center {
        width: 80%;
        margin: 0 auto;
    }

    .jer-nav {
        float: none;
        padding: 20px 0 0 0;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 1050px) {

    #logo-div2 {
        padding-top: 10px;
    }

    .allergy-institute-image {
        width: 110px;
        height: 110px;
    }

    .header-title {
	    font-size: 25px;
        padding: 40px 0 0 0;
	}

	.header-slogan {
	    font-size: 20px;
	}
}

@media (max-width: 896px) {

    #logo-div2 {
        padding-top: 10px;
    }
    
    .allergy-institute-image {
        margin: 10px 10px 10px 0px;
        width: 100px;
        height: 100px;
    }

    .header-title {
        font-size: 22px;
        padding: 30px 0 0 0;
    }

    .header-slogan {
        font-size: 18px;
    }
}

@media (max-width: 805px) {

    #logo-div2 {
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }
    
    .allergy-institute-image {
        width: 120px;
        height: 120px;
        float: none;
    }

    .header-title {
        text-align: center;
        font-size: 22px;
        padding: 20px 0 0 0;
    }

    .header-slogan {
        text-align: center;
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    
    .allergy-institute-image {
        width: 120px;
        height: 120px;
    }

    .header-title {
        font-size: 21px;
        padding: 20px 0 0 0;
    }

    .header-slogan {
        font-size: 16px;
    }

    #jer-nav-button {
        border: silver solid 2px;
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.olive {
    min-height: 40px;
    background-color: #2b3622;
    width: 100%;
}

.footer-text-L {
	padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 1px;
    margin: 20px 30px 2px 20px;
    font-family: Merriweather;
    letter-spacing: 1px;
    font-size: 18px;
    color: #fafafa;
    float: left;
}

.footer-nav-L {
	color: #b3b4a5;
	margin: 1px 20px 20px 20px;
    clear: both;
    border-width: 1px 0px 0px 0px;
    border-style: dotted;
    border-color: #fff;
}

.footer-nav-L a{
    color: #b3b4a5;
}

.footer-text-R {
	padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 1px;
    margin: 20px 30px 2px 20px;
    font-family: Merriweather;
    letter-spacing: 1px;
    font-size: 18px;
    color: #fafafa;
    float: left;
}

.footer-text2-R {
	padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 5px;
    margin: 20px 10px 0px 20px;
    font-family: Roboto;
    letter-spacing: 1px;
    font-size: 15px;
    color: #b3b4a5;
    clear: both;
    border-width: 1px 0px 0px 0px;
    border-style: dotted;
    border-color: #fff;
}

.footer-text3-R {
	padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 5px;
    margin: 5px 20px 2px 20px;
    font-family: Roboto;
    letter-spacing: 1px;
    font-size: 15px;
    color: #b3b4a5;
}

#jer-active-2 {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.jer-active-2:hover {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .footer-text3-R {
   		text-align: center;
    }
    .footer-text2-R {
   		text-align: center;
    }
    .footer-text-R {
    	text-align: center;
        float: none;
    }
    .footer-nav-L {
		text-align: center;
    }
	.footer-text-L {
		text-align: center;
        float: none;
	}
}

#jer-body-text-title {
	font-size: 30px;
    font-weight: normal;
    text-align: left;
    text-transform: capitalize;
    color: #212226;
    line-height: 120%;
    font-family: Merriweather;
}

.jer-body-textL {
	margin: 20px 20px 20px 80px;
	font-family: Roboto;
    font-size: 16px;
    line-height: 160%;
    color: #555555;
}

.jer-body-imageR {
	margin: 0px 80px 40px 20px;
}

.sneeze-img {
	max-width: 100%;
    max-height: 100%;
    margin: 40px 0px 20px 20px;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #ada597;
}

.jer-body-list {
	margin: 0px 20px 20px 80px;
	font-family: Roboto;
    font-size: 16px;
    line-height: 160%;
    color: #555555;
}

.jer-locationsA {
	margin: 0px 20px 20px 80px;
	font-family: Roboto;
    font-size: 16px;
    line-height: 160%;
    color: #555555;
}

.jer-floatL {
	float: left;
	margin-left: 20px;
}

.jer-floatC {
	clear: both;
	margin-left: 20px;
}

.jer-locationsB {
	margin: 31px 20px 20px 80px;
	font-family: Roboto;
    font-size: 16px;
    line-height: 160%;
    color: #555555;
}

@media (max-width: 1200px) {

    .jer-body-textL {
        margin: 20px 20px 20px 20px;
    }

    .jer-body-imageR {
    	text-align: center;
    	margin: 0px 20px 40px 20px;
    }
}

.bottom-yellow {
	background-color: rgb(253, 232, 104);
}

.bottom-yellow-text {
	padding-left: 2px;
    padding-right: 2px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-style: italic;
    font-family: Merriweather;
}

.bottom-yellow-text a {
    text-decoration: underline;
    color: #000;
}

.jer-body-title-aboutus h1 {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #212226;
    line-height: 160%;
    font-family: Merriweather;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

.jer-body-imgL {
    margin: 20px 0px 20px 80px;
}

.jer-body-textRwhole {
    padding-left: 30px;
    border-left: 1px solid silver;
    font-family: Roboto;
    line-height: 160%;
    color: #555555;
    margin-top: 20px;
}

.jer-body-textRtitle {
    font-family: Merriweather;
    font-size: 22px;
    font-style: italic;
    line-height: 150%;
    color: #36442B;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jer-body-textR {
    margin-top: 10px;
    margin-right: 80px;
    margin-bottom: 10px;   
    font-family: Roboto;
    font-size: 16px;
    line-height: 160%;
    color: #555555;
}

.dr-img {
    max-height: 100%;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 20px;
    padding-right: 21px;
    border-width: 1px;
    border-style: solid;
    border-color: #ada597;
}