.jer-body-title-aboutus h1 {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #212226;
    line-height: 160%;
    font-family: Merriweather;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

.jer-body-imgL {
    margin: 20px 0px 20px 80px;
}

.jer-body-textRwhole {
    padding-left: 30px;
    border-left: 1px solid silver;
    font-family: Roboto;
    line-height: 160%;
    color: #555555;
    margin-top: 20px;
}

.jer-body-textRtitle {
    font-family: Merriweather;
    font-size: 22px;
    font-style: italic;
    line-height: 150%;
    color: #36442B;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jer-body-textR {
    margin-top: 10px;
    margin-right: 80px;
    margin-bottom: 10px;   
    font-family: Roboto;
    font-size: 16px;
    line-height: 160%;
    color: #555555;
}

.dr-img {
    max-height: 100%;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 20px;
    padding-right: 21px;
    border-width: 1px;
    border-style: solid;
    border-color: #ada597;
}