.bottom-yellow {
	background-color: rgb(253, 232, 104);
}

.bottom-yellow-text {
	padding-left: 2px;
    padding-right: 2px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-style: italic;
    font-family: Merriweather;
}

.bottom-yellow-text a {
    text-decoration: underline;
    color: #000;
}