.olive {
    min-height: 40px;
    background-color: #2b3622;
    width: 100%;
}

.footer-text-L {
	padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 1px;
    margin: 20px 30px 2px 20px;
    font-family: Merriweather;
    letter-spacing: 1px;
    font-size: 18px;
    color: #fafafa;
    float: left;
}

.footer-nav-L {
	color: #b3b4a5;
	margin: 1px 20px 20px 20px;
    clear: both;
    border-width: 1px 0px 0px 0px;
    border-style: dotted;
    border-color: #fff;
}

.footer-nav-L a{
    color: #b3b4a5;
}

.footer-text-R {
	padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 1px;
    margin: 20px 30px 2px 20px;
    font-family: Merriweather;
    letter-spacing: 1px;
    font-size: 18px;
    color: #fafafa;
    float: left;
}

.footer-text2-R {
	padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 5px;
    margin: 20px 10px 0px 20px;
    font-family: Roboto;
    letter-spacing: 1px;
    font-size: 15px;
    color: #b3b4a5;
    clear: both;
    border-width: 1px 0px 0px 0px;
    border-style: dotted;
    border-color: #fff;
}

.footer-text3-R {
	padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 5px;
    margin: 5px 20px 2px 20px;
    font-family: Roboto;
    letter-spacing: 1px;
    font-size: 15px;
    color: #b3b4a5;
}

#jer-active-2 {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.jer-active-2:hover {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


@media (max-width: 1200px) {
    .footer-text3-R {
   		text-align: center;
    }
    .footer-text2-R {
   		text-align: center;
    }
    .footer-text-R {
    	text-align: center;
        float: none;
    }
    .footer-nav-L {
		text-align: center;
    }
	.footer-text-L {
		text-align: center;
        float: none;
	}
}