.green {
    min-height: 40px;
    background-color: #659D32;
    width: 100%;
}

.contact-text-L {
    color: #ffffff;
    padding: 20px 0px 20px 10px;
    font-size: 14px;
    text-align: center;
}

.contact-text-M {
    color: #ffffff;
    padding: 20px 0px 20px 0px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}

.contact-text-R {
    color: #ffffff;
    padding: 20px 0px 20px 30px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}

.facebook-blue {
    color: blue;
    vertical-align: middle;
}

.ph-number {
    color: #493918;
    font-size: 26px;
    font-weight: bold;
    font-family: Oxygen;
    vertical-align: middle;
}

@media (max-width: 1200px) {

    .contact-text-L {
        padding: 0px;
    }

    .contact-text-M {
        padding: 0px;
    }

    .contact-text-R {
        padding: 0px;
    }
}