#jer-body-text-title {
	font-size: 30px;
    font-weight: normal;
    text-align: left;
    text-transform: capitalize;
    color: #212226;
    line-height: 120%;
    font-family: Merriweather;
}

.jer-body-textL {
	margin: 20px 20px 20px 80px;
	font-family: Roboto;
    font-size: 16px;
    line-height: 160%;
    color: #555555;
}

.jer-body-imageR {
	margin: 0px 80px 40px 20px;
}

.sneeze-img {
	max-width: 100%;
    max-height: 100%;
    margin: 40px 0px 20px 20px;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #ada597;
}

.jer-body-list {
	margin: 0px 20px 20px 80px;
	font-family: Roboto;
    font-size: 16px;
    line-height: 160%;
    color: #555555;
}

.jer-locationsA {
	margin: 0px 20px 20px 80px;
	font-family: Roboto;
    font-size: 16px;
    line-height: 160%;
    color: #555555;
}

.jer-floatL {
	float: left;
	margin-left: 20px;
}

.jer-floatC {
	clear: both;
	margin-left: 20px;
}

.jer-locationsB {
	margin: 31px 20px 20px 80px;
	font-family: Roboto;
    font-size: 16px;
    line-height: 160%;
    color: #555555;
}


@media (max-width: 1200px) {

    .jer-body-textL {
        margin: 20px 20px 20px 20px;
    }

    .jer-body-imageR {
    	text-align: center;
    	margin: 0px 20px 40px 20px;
    }
}