.yellow {
    background-color: rgb(253, 232, 104);
    width: 100%;
    min-height: 150px;
}

.allergy-institute-image {
    margin: 10px 10px 0px 95px;
    float: left;
    width: 100px;
    height: 100px;
}

.header-title {
    color: #000;
    font-family: Merriweather;
    font-style: italic;
    font-size: 30px;
    padding: 20px 0 0 0;
}

.header-slogan {
    color: #000;
    font-family: Merriweather;
    font-style: italic;
    font-size: 22px;
}

.navbar-default {
    background-color: rgb(253, 232, 104);
    border-color: rgb(253, 232, 104);
}

.jer-nav {
    padding: 20px 40px 0 0;
    margin: 0 auto;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
}

.jer-nav>li {
    display:inline-block;
    float: none;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
}

.jer-active {
    border: silver solid 1px;
    background-color: rgb(253, 232, 104);
}


@media (max-width: 1200px) {

    .logo-div {
        width: 50%;
        margin: 0 auto;
    }

    .allergy-institute-image {
        margin: 10px 10px 10px 0px;
        width: 130px;
        height: 130px;
    }

    .header-title {
        padding: 40px 0 0 0;
    }

    #jer-center {
        width: 80%;
        margin: 0 auto;
    }

    .jer-nav {
        float: none;
        padding: 20px 0 0 0;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 1050px) {

    #logo-div2 {
        padding-top: 10px;
    }

    .allergy-institute-image {
        width: 110px;
        height: 110px;
    }

    .header-title {
	    font-size: 25px;
        padding: 40px 0 0 0;
	}

	.header-slogan {
	    font-size: 20px;
	}
}

@media (max-width: 896px) {

    #logo-div2 {
        padding-top: 10px;
    }
    
    .allergy-institute-image {
        margin: 10px 10px 10px 0px;
        width: 100px;
        height: 100px;
    }

    .header-title {
        font-size: 22px;
        padding: 30px 0 0 0;
    }

    .header-slogan {
        font-size: 18px;
    }
}

@media (max-width: 805px) {

    #logo-div2 {
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }
    
    .allergy-institute-image {
        width: 120px;
        height: 120px;
        float: none;
    }

    .header-title {
        text-align: center;
        font-size: 22px;
        padding: 20px 0 0 0;
    }

    .header-slogan {
        text-align: center;
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    
    .allergy-institute-image {
        width: 120px;
        height: 120px;
    }

    .header-title {
        font-size: 21px;
        padding: 20px 0 0 0;
    }

    .header-slogan {
        font-size: 16px;
    }

    #jer-nav-button {
        border: silver solid 2px;
        float: none;
        display: block;
        margin: 0 auto;
    }
}